 @font-face {
	font-family: TB-SloppyHandwriting; src: url('Tbsloppyhandwriting-Regular.ttf');
} 

body  {
	font-size: x-large;
	text-align: center;
	background-color: white;
	text-color: black;
	width: 100%;
	height: 100%;
	font-family: TB-SloppyHandwriting
}

input, button {
	font-size: x-large;
	text-align: center;
	font-family: TB-SloppyHandwriting
}